body{
	margin:0px;
	padding:0px;
	background-color: #94D3FE;
}
pre {
	margin:0px;
	padding:0px;
}

td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.welcome {
    font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FF9999;
	font-size:11px;
	text-decoration:none;
}
.welcome a { color: #FFFFFF; text-decoration:none; font-weight:bold;}
.welcome a:hover { color:#39C2FF; text-decoration:none;}
.category { color:#737373;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	font-weight:normal;
	background-image:url(images/index_73.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:13px;
}
.category a{ color:#737373; text-decoration:none; font-weight: normal; font-size:11px; }
.category a:hover{ color:#A70505; text-decoration:none;}
.text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#737373;
	text-align:justify;
	font-weight:normal;
}
.text a { color:#A70505; text-decoration:none; font-size:10px; font-weight:bold; }
.text a:hover{ color:#39C2FF; text-decoration:none; }
.footer {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#878787;
	text-align:center;
	padding-bottom:7px;
	padding-top:19px;
}

form input[type="text"], input[type="password"], textarea {
	border: 1px solid #C1E7FF;
	/*padding: 1em 0.625em; /* 16/16 10/16 */
	outline: none;
}
	form input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
	form input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 1px solid #93D4FF;
	}
	
form input[type="checkbox"], form input[type="radio"]{ margin-right: 0.833em; /* 10/12 */ }

form input[type="submit"] {
	border: 1px solid #3AB3FF;
	cursor: pointer;
	/*padding: 0.833em; /* 10/12 */

	background-position: right center;
	background-color: #93D4FF;
	/*padding-right: 3em; /* 36/12 */
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
}

.footer a {	color:#878787; text-decoration:none;}
.footer a:hover { color:#A70505; text-decoration:none; }
.copyright {
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#878787;
	padding-bottom:10px;
}
.heading {
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#1B1B1B;
}